body {
    display: flex;
    font-family: monospace;
    font-size: 14px;
}

div {
    max-width: 100%;
    display: flex;
    margin-right: 30px;
}

.buttons {
    flex-direction: column;
}

.buttons button {
    margin-top: 10px;
    /*margin-bottom: 30px;*/
}

.errors {
    max-height: 350px;
    flex-direction: column;
    /*overflow-y: scroll;*/
}

#errorsTable {
    width: 500px;
}

/*.errors table {*/
/*    width: 700px;*/
/*}*/

.errors td {
    text-align: center;
}

button.test {
    margin-bottom: 10px;
}

.answer, #curve_chart, .hideIterat, .line-chart, .stopParams {
    margin-right: 0;
}

.wrapper, .line-chart {
    flex-direction: column;
}

#hideIterat {
    max-width: 50px;
    text-align: center;
    margin-left: 10px;
}

hr {
    width: 100%;
    margin: 10px 0;
}

.stopParams input:not(:last-child) {
    margin-right: 10px;
}